.contacts-list {
  display: flex;

  @media #{$tablet-width--xs} {
    flex-direction: column;
  }

  @media #{$mobile-width--sm} {
    align-self: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 25px;
  }

  &--header {

    @media #{$tablet-width--md} {
      display: none;
    }
  }
}

.contacts-list__item {

  &:first-child {
    margin-right: 25px;
  }
}

.contacts-list__item--tel {
  position: relative;
  padding-left: 38px;

  @media #{$tablet-width--xs} {
    margin-bottom: 10px;
  }

  &:before {
    content: '';
    display: block;
    width: 29px;
    height: 29px;
    background: url("../img/phone-call.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 3px;
    left: 0;
  }
}

.contacts-list__tel {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: $color-primary;
  }
}

.contacts-list__mail {
  font-size: 12px;
  line-height: 1.2em;
  color: $color-primary;

  &:hover {
    text-decoration: none;
  }
}

.contacts-list__addr {
  position: relative;
  padding-left: 35px;
  color: #fff;

  &:before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    background: url("../img/wall-clock.png") no-repeat;
    background-size: contain;
    position: absolute;
    top: 3px;
    left: 0;
  }

  b {
    display: block;
  }
}
