.features-list {
  display: flex;
  flex-direction: row;

  @media #{$desktop-width-sm} {
    flex-wrap: wrap;
  }

  @media #{$desktop-width-sm} {
    flex-wrap: wrap;
  }
}

.features-list__item {
  position: relative;
  margin-bottom: 40px;
  padding-left: 18px;
  padding-right: 15px;
  width: 33.333%;
  min-width: 270px;
  box-sizing: border-box;

  @media #{$desktop-width-sm} {
    width: 50%;
  }

  @media #{$tablet-width--sm} {
    width: 100%;
    min-width: auto;
  }

  @media #{$tablet-width--xs} {
    width: 50%;
  }

  @media #{$mobile-width--md} {
    width: 100%;
  }

  &:before {
    content: '';
    display: block;
    height: 92%;
    width: 1px;
    position: absolute;
    top: 0;
    left: 1px;
    background: $gray;
  }

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 70px;
    background: $btn-color;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.features-list__pic {
  line-height: 0;
  margin-bottom: 20px;

  img {
    max-width: 100%;
  }
}

.features-list__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.2em;
}

.features-list__text {
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 300;
}
