.feedback-banner {
  position: relative;
  margin-top: 115px;
  margin-bottom: 50px;
  background: #000 url("../img/feedback.jpg") no-repeat;
  background-size: cover;

  @media #{$desktop-width-sm} {
    margin-top: 0;
  }

  @media #{$tablet-width--md} {
    margin-bottom: 30px;
  }
}

.feedback-banner__info {
  max-width: 50%;
  padding: 70px 40px 65px;

  @media #{$tablet-width--xs} {
    max-width: 100%;
    padding: 40px 15px 35px;
  }
}

.feedback-banner__title {
  color: #fff;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;

  b {
    font-weight: 700;
  }
}

.feedback-banner__text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 25px;
}

.feedback-banner__pic {
  position: absolute;
  right: 40px;
  bottom: 0;

  @media #{$desktop-width-sm} {
    display: none;
  }
}

.feedback-banner__note {
  position: absolute;
  bottom: 45%;
  right: 0;
  width: 80px;
  padding: 8px 10px;
  background: #fff;
  color: #000;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  line-height: 1.2em;

  b {
    display: block;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 3px;
  }
}
