.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-nav__item {
  padding: 0 15px;

  @media #{$tablet-width--xs} {
    padding: 0;
  }
}

.footer-nav__link {
  display: block;
  padding: 7px 20px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    text-decoration: none;
    color: $color-primary;
  }
}
