.form-login {
  margin-bottom: 32px;
  border-bottom: 1px solid #e8e8e8;
}

.form-login__inner {
  padding-bottom: 40px;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.form-login__links {

}

.form-login__link {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  color: #5c5c5c;
  font-size: 13px;

  &:hover {
    text-decoration: none;
  }
}
