.items-available {
  display: flex;
  flex-direction: row;
}

.items-available__title {
  margin-right: 6px;
  font-size: 11px;
  line-height: 1.2em;
  color: $text-gray;
}

.items-available__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.items-available__point {
  width: 7px;
  height: 7px;
  margin-right: 3px;
  background: #d0d0d0;
  border-radius: 100%;
}

.items-available__point--green {
  background: #74b65f;
}

.items-available__point--yellow {
  background: #f6b31f;
}

.items-available__point--red {
  background: #cf4444;
}
