.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media #{$tablet-width--md} {
    display: none;
  }
}

.main-nav__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  line-height: 1.2em;
  transition: all 0.2s;

  &:hover {
    color: #000;
  }
}
