.main-info {
  padding-right: 15px;
  padding-bottom: 40px;

  @media #{$tablet-width--xs} {
    padding: 0 15px;
    padding-bottom: 20px;
  }
}

.main-info__title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 300;

  @media #{$tablet-width--xs} {
    font-size: 22px;
  }

  b {
    font-weight: 700;
  }
}

.main-info__text {

  p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 25px;
  }
}
