.offers {
  margin-bottom: 60px;

  @media #{$tablet-width--xs}{
    padding: 0 15px;
  }
}

.offers__title {
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 1.2em;
  text-align: center;
  color: $color-secondary;
  font-weight: 700;

  @media #{$tablet-width--xs}{
    font-size: 22px;
  }
}
