.product {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 100px;
  padding-right: 15px;
  box-sizing: border-box;

  @media #{$tablet-width--sm} {
    flex-direction: column;
  }

  @media #{$tablet-width--xs} {
    margin-bottom: 30px;
    padding: 0 15px;
  }
}

.product__section-left {
  margin-right: 25px;
}


.product__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-shrink: 0;
  margin-right: 40px;
  line-height: 0;
  text-align: center;

  @media #{$desktop-width-sm} {
    width: auto;
    align-items: flex-start;
    flex-shrink: 1;
  }

  @media #{$tablet-width--xs} {
    width: 100%;
  }

  img {
    max-width: 100%;
    margin: auto;
  }
}

.product__info {

  @media #{$desktop-width-sm} {
    width: 60%;
  }

  @media #{$tablet-width--sm} {
    width: 100%;
  }

  form {
    margin-bottom: 40px;
  }
}

.product__section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.product__code {
  color: $text-gray;
  font-size: 11px;

  span {
    text-transform: uppercase;
  }
}

.product__price {
  display: flex;
  flex-direction: column-reverse;

  @media #{$tablet-width--md} {
    justify-content: center;
  }

  @media #{$mobile-width--sm} {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.product__newprice {
  color: $color-third;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2em;
  margin-right: 12px;
}

.product__oldprice {
  color: $text-gray;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2em;
  text-decoration: line-through;

  @media #{$mobile-width--sm} {
    margin-bottom: 5px;
  }
}

.product__title {
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 5px;
  font-weight: 700;
}

.product__descr {
  font-size: 14px;
  color: $color-secondary;
}
