.products-slider {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;

  @media #{$tablet-width--xs}{
    margin-left: 25px;
    margin-right: 25px;
  }

  .slick-prev {
    left: -32px;

    &:before {
      background: url("../img/arrows.png") no-repeat;
      width: 16px;
      height: 29px;
      background-position: -5px -5px;
    }

    &:hover {

      &:before {
        background-position: -31px -5px;
      }
    }
  }

  .slick-next {
    right: -32px;

    &:before {
      background: url("../img/arrows.png") no-repeat;
      width: 16px;
      height: 29px;
      background-position: -57px -5px;
    }

    &:hover {

      &:before {
        background-position: -83px -5px;
      }
    }
  }

  .slick-slide {
    display: flex;
    height: auto;
    margin-left: -1px;

    @media (max-width: 1024px) {
      margin: 0;
    }

    > div {
      display: flex;
      width: 100%;
    }


  }

  .slick-list {

    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 120%;
      position: absolute;
      border-radius: 150px/900px;
      top: -10%;
      left: -60px;
      box-shadow: 0 0 36px 0 #656565;
      z-index: 5;
    }

    &:after {
      content: '';
      display: block;
      width: 60px;
      height: 120%;
      position: absolute;
      border-radius: 150px/900px;
      top: -10%;
      right: -60px;
      box-shadow: 0 0 36px 0 #656565;
      z-index: 5;
    }
  }

  .slick-track {
    display: flex;
  }
}

.products-slider__item {
  display: flex !important;
  width: 300px;

  .subcategory-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    box-sizing: border-box;

    @media #{$tablet-width--xs}{
      padding: 20px 15px;
    }

    &:hover {
      box-shadow: none;
      border-color: #e8e8e8;
    }
  }

  .subcategory-item__title {
    flex-grow: 1;
  }
}
