.sidebar-stock {
  margin-bottom: 7px;
  box-shadow: 0 0 15px 1px #ddd;
  background: url("../img/stock.jpg") no-repeat;
  background-size: cover;

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.sidebar-stock__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border: 5px solid $color-yellow;
  font-size: 36px;
  line-height: 1em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 700;
  height: 100%;
  box-sizing: border-box;
}
