<footer class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="footer-nav">
				<div class="footer-nav__item"><a class="footer-nav__link" href="#">О компании</a></div>
				<div class="footer-nav__item"><a class="footer-nav__link" href="#">Акции</a></div>
				<div class="footer-nav__item"><a class="footer-nav__link" href="#">КВТ</a></div>
				<div class="footer-nav__item"><a class="footer-nav__link" href="#">Элекстронные компоненты</a></div>
				<div class="footer-nav__item"><a class="footer-nav__link" href="#">Доставка/Оплата</a></div>
				<div class="footer-nav__item"><a class="footer-nav__link" href="#">Контакты</a></div>
			</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<a class="main-logo  main-logo--footer" href="#"><img src="img/logo.png" alt=""></a>
				<div class="contacts-list">
					<div class="contacts-list__item  contacts-list__item--tel">
						<a class="contacts-list__tel" href="tel:880070000000">8 800 700 00000</a>
						<a class="contacts-list__mail" href="mailto:info@alenkom.ru">info@alenkom.ru</a>
					</div>
					<div class="contacts-list__item  contacts-list__item--addr">
						<div class="contacts-list__addr"><b>Режим работы</b><span>пн-пт c 9:00 до 22:00</span></div>
					</div>
				</div>
				<div class="devs"><a href="#">Разработчик сайта</a></div>
			</div>
			<div class="copy">&copy; 2018 Аленком &mdash; интернет-магазин электронных компонентов</div>
		</div>
</footer>
