<header class="header">
	<div class="header__top">
		<div class="container">
			<a class="main-logo" href="#"><img src="img/logo.png" alt=""></a>
			<div class="search">
				<form class="search__form" action="/">
					<input type="search" name="search" placeholder="Поиск по каталогу">
					<button class="btn btn-search" type="submit" ><img src="img/search.png" alt=""></button>
				</form>
			</div>
			<div class="user-actions  user-actions--mobile">
				<a class="user-actions__tel" href="tel:880070000000"></a>
				<a class="user-actions__login" href="#">Личный кабинет</a>
				<a class="user-actions__cart" href="#">10 <span>товаров</span></a>
			</div>
			<div class="contacts-list  contacts-list--header">
				<div class="contacts-list__item  contacts-list__item--tel">
					<a class="contacts-list__tel" href="tel:880070000000">8 800 700 00000</a>
					<a class="contacts-list__mail" href="mailto:info@alenkom.ru">info@alenkom.ru</a>
				</div>
				<div class="contacts-list__item  contacts-list__item--addr">
					<div class="contacts-list__addr"><b>Режим работы</b><span>пн-пт c 9:00 до 22:00</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<div class="hamburger-inner">
				<a href="#mobile-menu" class="hamburger-wrap">
				  <span class="hamburger-icon"></span>
				</a>
			</div>
			<div class="main-nav">
				<div class="main-nav__item"><a class="main-nav__link" href="#">О компании</a></div>
				<div class="main-nav__item"><a class="main-nav__link" href="#">Доставка/Оплата</a></div>
				<div class="main-nav__item"><a class="main-nav__link" href="#">Контакты</a></div>
			</div>
			<div class="user-actions">
				<a class="user-actions__login" href="#">Личный кабинет</a>
				<a class="user-actions__cart" href="#">10 товаров</a>
			</div>
			<div class="search  search--mobile">
				<form class="search__form" action="/">
					<input type="search" name="search" placeholder="Поиск по каталогу">
					<button class="btn btn-search" type="submit" ><img src="img/search.png" alt=""></button>
				</form>
			</div>
		</div>
	</div>
</header>
